*{
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.titulo{
  margin: 0;
  padding: 0;

}

a {
  color: #00B7FF;
}
.dvCaixas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dvCaixas div{
 width: fit-content;
 background-color:#F0F8FF;
 padding: 1rem;
 border-radius: 10px;
}
.dvCaixas div:nth-child(2){
  background-color: LightGreen;
  border-radius: 10px;
}

.dvCaixas div:nth-child(3){
  background-color: tomato;
  border-radius: 10px;
}

.dvSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.dvInput {
  width: 50%;
}

.dvInput form {
  display: flex;
  flex-direction: row;
}

.dvTabela { 
  margin-top: 2rem;
}